 @import url("commonCss.css");
.container {
  display: grid;
  grid-template-rows: auto 3fr auto auto;
  background-color: #025202;
  padding: 1px;
  min-height: 100vh;
}
/* header section */
.header{
  top: 0;
  position: sticky;
  margin: 0 0.1em;
  padding: 0.1em 0;
  background: #025202;
  display: grid;
  grid-template-areas: "home menu-section logo-div";
  grid-template-columns: repeat(3, 1fr);
  border-radius: 0.5em;

.home{
  grid-area: home;
  padding: 0;
  margin: 0;
  .home-anchor{
    width: fit-content;
    text-decoration: none;
    font-family:Vijaya;
    font-style:italic;
    font-size: 24px;
    outline:none;
    padding: 0 0 0 0.5em;
  }
}
.logo-div {  
  grid-area: logo-div;
  text-align: right;
  font-Size:18px;
  padding: 0.5em;
}
.menu-section{
  grid-area: menu-section;
  text-align: center;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.logo, .menu-section li  a
{
  fill:#ffd700;
  font-family:Vijaya;
  border-color:Black;
  font-style:italic;
}
.menu-section li{
    display: inline-block;
    margin: 0.5% 1%;
}
.menu-section a{
  text-decoration: none;
  font-size: 18px;
}
.home, .menu-section{
  align-content: center;
}
}
 .mobil-menu-section{
      display: none;
    }

  /* End of header section */
  /* Main CSS */
.main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  height: 100%;
}
.main-col-0 {
    display: grid;
    grid-template-columns: auto;
    margin: 5em 0;
}
.intro-div{
  display: grid;
    grid-template-areas:
        "intro-index-page"
        "portrait-div";
    grid-template-columns: repeat(2, 2fr);
}
.intro-index-page, .portrait-div{
  margin: auto;
}
.main-col-0 .title{
    font-family: math;
    font-size: 24px;
    text-align: center;
}
.main-col-0 p {
  font-family: ui-monospace;
  font-size: 18px;
}
/*My-weather section*/
#weatherInfo{
  width: fit-content;
  margin: 0 0 0 0.5rem;
}
#weatherInfo p{
  display: inline-block;
}
#city{
  width: 40%;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: solid 1px gray;
}
#getWeather-btn
{
  font-size: 12px;
  padding: auto;
}
#weather-img{
  display: inline-block;
  width: 30px;
  height: 30px;
}
#city-lable, #weather-temp{
  display: inline-block;
  margin: 0 0.5rem 0 0;
  padding: 0;
}
/****************/
.my-knowledge, .aboutme, .my-portfolio{
  border: solid 1px #025202;
  box-shadow: 1px 1px 15px 3px #025202;
  padding: 1em;
  margin: 0.2em;
}
.my-portfolio{
  margin: 1em;
}
.my-knowledge div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-knowledge p{
  text-align: center;
}
.js-div p , .html-div p, .css-div p, .cs-div p{
 margin: 2rem 2rem;
}
.js-div img, .cs-div img, .css-div img{
  width: 12%;
}
.html-div img{
  width: 20%;
}
 button, .btn{
  background-color:Black;
  border-color: #ffd700;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
}
#references{
  text-align: center;
}
form {
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}
label {
  display: block;
}
input, select, #subject {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
}
input[type=submit] {
  width: fit-content;
}
.star{
  color: red;
}
 #title-new{
    display: none;
    margin: 1rem 0.5rem;
    color: #bcb380;
    background-color: rgb(34, 36, 34);
    border: 2px solid #ffd700;
    padding: 0.5rem;
    vertical-align: middle;
    z-index: 1;
    border-radius: 0.3rem;
 }
input[type=submit]:hover {
  background-color: gray;
}
.project-0 a, #references a{
    fill: #ffd700;
    font-family: Vijaya;
    color: #ffd700;
    border-color: Black;
    font-style: italic;
    text-shadow: 1px 1px 3px #025202;
}
.project-img-div img{
  width: 30%;
  display: inline-block;
  margin: 1rem;
}
#references a{
  font-size: 24px;
}
.my-references{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #025202;
  box-shadow: 1px 1px 15px 3px #025202;
  padding: 2rem;
}
.my-references img{
  float: right;
}
.my-references p{
  margin-right: 1rem;
}
.btn a{
      text-decoration: none;
    background-color: transparent;
}
/* Socialmedia section */
 .socialmedia{
  text-align: center;
  }
  .socialmedia a{
    color: black;
  }
  .socialmedia a{
    margin: 0px 5px;
  }
/* End of socialmedia section */
/*** footer ***/
.footer{
  margin: 0.1rem;
}
.footer section{
    margin: 0.2rem;
    border-top: solid;
    border-color: #b4acac;
    border-top-width: 1px;
    text-align: center;
}