 @import url("commonCss.css");
.container {
  display: grid;
  grid-template-rows: auto 3fr auto auto;
  background-color: #025202;
  padding: 1px;
  min-height: 100vh;
}
.header{
  top: 0;
  position: sticky;
  margin: 0 0.1rem;
  padding: 0.1rem 0;
  background: #025202;
  display: grid;
  grid-template-areas: "home menu-section logo-div";
  grid-template-columns: repeat(3, 1fr);
  border-radius: 0.5rem;

  .logo-div {  
  grid-area: logo-div;
  text-align: right;
  font-Size:18px;
  padding: 1rem;
}
.logo, .menu-section li  a, .home-anchor{
  fill:#ffd700;
  font-family:Vijaya;
  /* color:#ffd700; */
  border-color:Black;
  font-style:italic;
  text-shadow: 1px 1px 3px black;
}
.logo{
  margin: 0px 2px 0px 0px;
}
.menu-section li{
    display: inline-block;
    margin: 0.5% 1%;
}
.menu-section a{
  text-decoration: none;
  font-size: 18px;
}
.home, .menu-section{
  display: grid;
  align-content: center;
}
.home{
  grid-area: home;
  padding: 0 0 0 1rem;
  .home-anchor{
  text-decoration: none;
  font-size: 24px;
}
}
.menu-section{
  grid-area: menu-section;
  text-align: right;
  padding: 0 1rem 0 0;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
  /* .fa{
      color: #ffd700;
    } */
}
 .mobil-menu-section{
      display: none;
    }
 .socialmedia{
  text-align: center;
  }
  .socialmedia a{
    color: black;
  }
  .socialmedia a{
    margin: 0px 5px;
  }

  /* Main CSS */
.main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main-col-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    margin: 0.5rem;
}
.main-col-0 .title{
    font-family: math;
    font-size: 24px;
    text-align: center;
}
.main-col-0 p {
  font-family: ui-monospace;
  font-size: 18px;
}
.main-col-0 img {
  max-width: 100%;
}
 button, .btn {
  background-color:Black;
  border-color: #ffd700;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
}
#references{
  text-align: center;
}
/* form {
  border-radius: 5px;
  background-color: #eee4d9;
  padding: 20px;
}
label {
  display: block;
}
input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  box-sizing: border-box;
}
input[type=submit] {
  width: fit-content;
}
.star{
  color: red;
}

 #title-new{
    display: none;
    position: absolute;
    margin: 0px;
    color: #bcb380;
    background-color: rgb(34, 36, 34);
    border: 2px solid #ffd700;
    padding: 0.5rem;
    vertical-align: middle;
    z-index: 1;
    border-radius: 0.3rem;
 }
input[type=submit]:hover {
  background-color: gray;
} */
/* .aboutme-main, .knowledge-main{
  margin: 0.5rem;
} */
/* .github i {
  color: rgb(101, 101, 101);
  font-size: 48px;
} */

/*** footer ***/
.footer{
  margin: 0.1rem;
}
.footer section{
    margin: 0.2rem;
    border-top: solid;
    border-color: #b4acac;
    border-top-width: 1px;
    text-align: center;
}