@media (min-width: 386px)and (max-width: 766px){
  @import url("commonCss.css");
  .header{
  grid-template-areas: "home logo-div menu-section";
    .logo-div {  
    text-align: center;
    padding: 0;
    }
   .home > .home-anchor{
    font-size:  18px;
  }
    #menuBar{
    background-color:  302f2f;
    padding: 0;
    width: fit-content;
    position: fixed;
    top: 12%;
    right: -450px;
    font-size: 2em;
    transition: 1s ease;
    }
    #menuBar li{
      display: block;
      margin: 0;
    }
    .fa-2x {
    font-size: 1.5em;
  }
 }
  .mobil-menu-section{
    display: block;
    float: right;
  }
  .active {
    transition: 1s ease;
    right: 10px !important;
  }
  .main-col-0 {
    margin: 10em 0 0 0;
  }
  .intro-div{
  display: grid;
  grid-template-areas: "portrait-div" "intro-index-page";
  grid-template-columns: 2fr;
}
.portrait-div{
  grid-area: portrait-div;
  margin: auto;
}
.intro-index-page{
  grid-area: intro-index-page;
  text-align: center;
  }
  .intro-index-page{
    margin: 0 2em 0 0;
  }
  #city {
    width: 100%;
  }
  #getWeather-btn{
    margin: 0 0 0.5em 1em;
  }
   .my-references {
  display: grid;
  margin: 5em 0 0 0;
}
.referens-img-div{
  padding: 1rem;
  margin: auto;
}
  .socialmedia{
    .fa-stack {
      font-size: 24px;
    }
  }
}
@media (min-width: 767px)and (max-width: 1073px){
  @import url("commonCss.css");
.header{
  grid-template-areas: "home logo-div menu-section";
  
    .logo-div {  
    text-align: center;
    padding: 0;
    }
    #menuBar{
    background-color:  302f2f;
    padding: 0;
    width: fit-content;
    position: fixed;
    top: 12%;
    right: -450px;
    font-size: 2em;
    transition: 1s ease;
    }
    #menuBar li{
      display: block;
      margin: 0;
    }
 }
  .mobil-menu-section{
    display: block;
    float: right;
  }
  .active {
    transition: 1s ease;
    right: 10px !important;
  }
  .main-col-0 {
    margin: 10em 0 0 0;
  }
.intro-div{
  display: grid;
  grid-template-areas: "portrait-div" "intro-index-page";
  grid-template-columns: 2fr;
}
.portrait-div{
  grid-area: portrait-div;
  margin: auto;
}
.intro-index-page{
  grid-area: intro-index-page;
  text-align: center;
  padding: 0 0.2em;
  }
   .my-references {
  display: grid;
  margin: 5em 0 0 0;
}
.referens-img-div{
  padding: 1rem;
  margin: auto;
}
#city {
    width: 90%;
}
  #getWeather-btn{
    margin: 0 0 0.5em 1em;
  }
.socialmedia{
  .fa-stack {
    font-size: 24px;
  }
}
}