@media (min-width: 768px)and (max-width: 1024px){
  @import url("commonCss.css");
*
{
  background-color: #302f2f;
  color: white;
}
.header{
  grid-template-areas: "home logo-div menu-section";
    .logo-div {  
    text-align: center;
    margin: 0px;
    }
  .fa{
      color: #ffd700;
    }
    #menuBar li{
      display: block;
      margin: 1rem;
    }
    #menuBar{
    background-color:  302f2f;
    width: 25%;
    max-width: 450px;
    position: fixed;
    top: 12%;
    right: -450px;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: 1s ease;
    }
    .active {
    transition: 1s ease;
    right: 0px !important;
  }
 }
     .mobil-menu-section{
      display: block;
    }
}
@media screen and (max-width: 800px){

}
@media screen and (max-width: 690px){

}
@media screen and (max-width: 600px) {
}

@media screen and (max-width: 430px) {
/* CSS Document */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
   margin: 0px;
   padding: 0px;
   height: 100%;
}
body {
   margin: 0px;
   padding: 0;
   min-height: 100vh;
}
img {
  display: block;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding:0;
}
}
@media screen and (max-width: 414px) {
    *, *:before, *:after
    {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0px;
    } 
}