@media screen and (max-width: 375px){
@import url("commonCss.css");
*
{
  background-color: #302f2f;
  color: white;
  font-size: 18px;
}
  .header {
    .home{
      padding: 0;
    }
  #menuBar {
    width: 40%;
  }
  .logo-div {
      text-align: center;
      padding: 0;
  }
  .logo{
    margin: 0.5rem 0;
  }
  .menu-section {
    padding: 0 0.5rem 0 0;
  }
    }
    #city {
    width: 50%;
    font-size: 12px;
}
.main{
  grid-template-columns: auto;
}
.main-col-0 {
  margin-top: 10%;
  padding: 0 0 0 0.1rem;
}
    .main-col-0 p {
    margin: 0;
}
.my-portfolio div > p,
    .aboutme h2, .aboutme div,
    .my-knowledge > .my-knowledge-p, .my-knowledge div{
      margin: 0 0 1em 0;
    }
  .my-references {
  display: grid;
  padding: 0.5rem;
}
.referens-img-div{
  padding: 1rem;
  margin: auto;
}
.footer section {
        font-size: 18px;
    }
}
@media  and (max-width: 667px) {
@import url("commonCss.css");
*
{
  background-color: #302f2f;
  color: white;
  font-size: 18px;
}
  .header {
    .home{
      padding: 0;
    }
  #menuBar {
    width: 40%;
  }
  .logo-div {
      text-align: center;
      padding: 0;
  }
  .logo{
    margin: 0.5rem 0;
  }
  .menu-section {
    padding: 0 0.5rem 0 0;
  }
    }
    #city {
    width: 50%;
    font-size: 12px;
}
.main{
  grid-template-columns: auto;
}
.main-col-0 {
  margin-top: 10%;
  padding: 0 0 0 0.1rem;
}
    .main-col-0 p {
    margin: 0;
}
.my-portfolio div > p,
    .aboutme h2, .aboutme div,
    .my-knowledge > .my-knowledge-p, .my-knowledge div{
      margin: 0 0 1em 0;
    }
  .my-references {
  display: grid;
  padding: 0.5rem;
}
.referens-img-div{
  padding: 1rem;
  margin: auto;
}
.footer section {
        font-size: 18px;
    }
}
@media (min-width: 820px)  and (max-width: 1180px){
   @import url("commonCss.css");
*
{
  background-color: #302f2f;
  color: white;
}
.header{
  grid-template-areas: "home logo-div menu-section";
  
    .logo-div {  
    text-align: center;
    margin: 0px;
    }
    #menuBar li{
      display: block;
      /* margin: 1rem; */
    }
    #menuBar{
    background-color:  302f2f;
    padding: 0;
    margin: 1rem;
    width: 12%;
    max-width: 450px;
    position: fixed;
    top: 8%;
    right: -450px;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 2em;
    transition: 1s ease;
    }
    .active {
    transition: 1s ease;
    right: 0px !important;
  }
 }
     .mobil-menu-section{
      display: block;
    }
    .main-col-0 p{
      margin: 0 1em 0 0;
    }
    .main-col-0{
      .title{
        margin-bottom: 1em;
      }
    }
    .my-portfolio div > p,
    .aboutme h2, .aboutme div,
    .my-knowledge > .my-knowledge-p, .my-knowledge div{
      margin: 0 0 1em 0;
    }
    .my-references {
      display: grid;
      padding: 0.5rem;
    }
    .my-references div > p {
      font-size: 20px;
    }
    .referens-img-div{
      padding: 1rem;
      margin: auto;
    }
    .socialmedia{
      .fa-stack {
        font-size: 24px;
      }
    }
    .footer section{
      font-size: 24px;
    }
}
@media (min-width: 768px)and (max-width: 1024px){
  @import url("commonCss.css");
*
{
  background-color: #302f2f;
  color: white;
}
.header{
  grid-template-areas: "home logo-div menu-section";
  
    .logo-div {  
    text-align: center;
    margin: 0px;
    }
    #menuBar li{
      display: block;
      /* margin: 1rem; */
    }
    #menuBar{
    background-color:  302f2f;
    padding: 0;
    margin: 1rem;
    width: 12%;
    max-width: 450px;
    position: fixed;
    top: 8%;
    right: -450px;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 2em;
    transition: 1s ease;
    }
    .active {
    transition: 1s ease;
    right: 0px !important;
  }
 }
     .mobil-menu-section{
      display: block;
    }
    .main-col-0 p{
      margin: 0 1em 0 0;
    }
    .main-col-0{
      .title{
        margin-bottom: 1em;
      }
    }
    .my-portfolio div > p,
    .aboutme h2, .aboutme div,
    .my-knowledge > .my-knowledge-p, .my-knowledge div{
      margin: 0 0 1em 0;
    }
    .my-references {
      display: grid;
      padding: 0.5rem;
    }
    .my-references div > p {
      font-size: 20px;
    }
    .referens-img-div{
      padding: 1rem;
      margin: auto;
    }
    .socialmedia{
      .fa-stack {
        font-size: 24px;
      }
    }
    .footer section{
      font-size: 24px;
    }
}
@media screen and (max-width: 768px){
@import url("commonCss.css");
*
{
  background-color: #302f2f;
  color: white;
  font-size: 18px;
}
.header{
  grid-template-areas: "home logo-div menu-section";
  
    .logo-div {  
    text-align: center;
    margin: 0px;
    }
    #menuBar li{
      display: block;
      margin: 1rem;
    }
    #menuBar{
    background-color:  302f2f;
    padding: 0;
    margin: 0;
    width: 18%;
    max-width: 450px;
    position: fixed;
    top: 8%;
    right: -450px;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 2em;
    transition: 1s ease;
    }
    .active {
    transition: 1s ease;
    right: 0px !important;
  }
 }
     .mobil-menu-section{
      display: block;
    }
    .main-col-0{
      display: grid;
      grid-template-areas: "portrait-div""intro-index-page";
      height: fit-content;
      margin-top: 60%;
      padding: 0;
    }
    .portrait-div{
      grid-area: portrait-div;
      margin: auto;
    }
    .intro-index-page{
      grid-area: intro-index-page;
      padding: 1rem;
    }
    .my-knowledge {
      padding: 0.3rem;
    }
    .main-col-0 p{
      margin: 0 1em 0 0;
    }
    .main-col-0{
      .title{
        margin-bottom: 1em;
      }
    }
    .my-portfolio div > p{
      margin: 0 0 1em 0;
    }
    .socialmedia{
      .fa-stack {
        font-size: 24px;
      }
    }
    .footer section{
      font-size: 24px;
    }
}